$font: "Montserrat", sans-serif;

$dark: #202027;
$light: #fff;
$dark-light: #F7F7F7;

$accent-light: #E1FF8F;
$accent-dark: #BCEC30; 

.item_1 
{
    background-image: url(../img/game_1.jpg);
}   
.item_2 
{
    background-image: url(../img/game_2.jpg);
}   
.item_3 
{
    background-image: url(../img/game_3.jpg);
}   
.item_4 
{
    background-image: url(../img/game_4.jpg);
}   
.item_5 
{
    background-image: url(../img/game_5.jpg);
}   
.item_6 
{
    background-image: url(../img/game_6.jpg);
}   