@import 'font';
@import 'mixin';
@import 'variables';
@import 'button_variables';
@import 'main';
@import 'mobile';
@import 'tablet';

html {
    scroll-behavior: smooth;
}


body {
    font-family: $font;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
        color: $dark;
    }
    

.center {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
}
}

