.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.item_1 {
  background-image: url(../img/game_1.jpg);
}

.item_2 {
  background-image: url(../img/game_2.jpg);
}

.item_3 {
  background-image: url(../img/game_3.jpg);
}

.item_4 {
  background-image: url(../img/game_4.jpg);
}

.item_5 {
  background-image: url(../img/game_5.jpg);
}

.item_6 {
  background-image: url(../img/game_6.jpg);
}

.header {
  max-width: 1440px;
  max-height: 800px;
  background-image: url("../img/hero_img.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__hero {
  padding-top: 196px;
  max-width: 769px;
  height: 750px;
}
.header__hero .hero__title {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-bottom: 24px;
}
.header__hero .hero__desc {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 48px;
}
.header__hero .hero__desc-selection {
  font-weight: 600;
}
.header__hero .hero__button {
  margin-bottom: 156px;
  background-color: #202027;
  color: #fff;
  border-radius: 60px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  width: 247px;
  height: 66px;
}
.header__hero .hero__button:hover {
  background-color: #fff;
  color: #202027;
}

.games-info {
  max-width: 1440px;
  background-image: url("../img/game_desc.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}
.games-info__title {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 24px;
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.games-info__subtitle {
  margin: 0;
  width: 788px;
  padding-bottom: 72px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.games-info .games-list {
  max-height: 1060px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(24, 1fr);
  gap: 32px;
}
.games-info .games-list .item-5 {
  order: 5;
}
.games-info .games-list .big-item {
  grid-row: span 13;
}
.games-info .games-list .small-item {
  grid-row: span 11;
}
.games-info .games-list .games-item {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  background-color: #fff;
  border-radius: 30px;
  transition: 0.5s;
}
.games-info .games-list .games-item:hover {
  transform: scale(1.1);
}
.games-info .games-list .games-item__img {
  border-radius: 30px;
  border-radius: 30px;
  height: 314px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.games-info .games-list .games-item__num {
  width: 110px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 52.58px;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
  background-color: #F7F7F7;
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 16px;
}
.games-info .games-list .games-item__title {
  padding: 0 36px 32px;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
}

.games-gallery {
  max-width: 1440px;
  max-height: 3500px;
  background-image: url("../img/game_gallery.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 144px;
}
.games-gallery .games-gallery__title {
  margin: 0;
  padding-top: 96px;
  padding-bottom: 72px;
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.games-gallery .games-gallery__catalog {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1200px;
  max-height: 500px;
  background-color: #fff;
  border-radius: 30px;
}
.games-gallery .games-gallery__catalog .catalog-item {
  padding-left: 48px;
  padding-top: 48px;
  grid-column: span 6;
}
.games-gallery .games-gallery__catalog .catalog-item .catalog-item__title {
  margin-top: 48px;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
}
.games-gallery .games-gallery__catalog .catalog-item .catalog-item__subtitle {
  margin-bottom: 36px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.games-gallery .games-gallery__catalog .catalog-item .catalog-item__btn {
  background-color: #202027;
  color: #fff;
  border-radius: 60px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  width: 247px;
  height: 66px;
  margin-bottom: 84px;
}
.games-gallery .games-gallery__catalog .catalog-item .catalog-item__btn:hover {
  background-color: #fff;
  color: #202027;
}
.games-gallery .games-gallery__catalog .catalog-img {
  display: flex;
  grid-column: span 6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.games-gallery .games-gallery__catalog:nth-child(odd) .catalog-item {
  order: 1;
}
.games-gallery .games-gallery__catalog:last-child {
  margin-bottom: unset;
}

.footer {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #BCEC30;
  max-width: 1440px;
  height: 150px;
}
.footer__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  body .center {
    padding-right: 16px;
    padding-left: 16px;
  }
  .header {
    max-width: 1440px;
    max-height: 800px;
    background-image: url("../img/hero_mobile.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .games-info {
    display: none;
  }
  .header__hero {
    padding-top: 147px;
    max-width: 769px;
    max-height: 650px;
    display: flex;
    flex-direction: column;
  }
  .header__hero .hero__title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
  }
  .header__hero .hero__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-bottom: 48px;
  }
  .header__hero .hero__desc-selection {
    font-weight: 600;
  }
  .header__hero .hero__button {
    margin-bottom: 156px;
    margin: auto;
    background-color: #202027;
    color: #fff;
    border-radius: 60px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    width: 247px;
    height: 66px;
  }
  .header__hero .hero__button:hover {
    background-color: #fff;
    color: #202027;
  }
  .games-gallery {
    max-width: unset;
    max-height: unset;
    background-repeat: repeat-y;
    background-position: center;
    padding-bottom: 48px;
  }
  .games-gallery .games-gallery__title {
    margin: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: left;
  }
  .games-gallery .games-gallery__catalog {
    margin-bottom: 24px;
    grid-template-columns: unset;
    max-height: unset;
    max-width: unset;
  }
  .games-gallery .games-gallery__catalog .catalog-item {
    margin-left: 28px;
    margin-right: 28px;
    grid-row: span 1;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .games-gallery .games-gallery__catalog .catalog-item .catalog-item__title {
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    text-align: left;
  }
  .games-gallery .games-gallery__catalog .catalog-item .catalog-item__subtitle {
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  }
  .games-gallery .games-gallery__catalog .catalog-item .catalog-item__btn {
    margin: auto;
    margin-bottom: 32px;
    background-color: #202027;
    color: #fff;
    border-radius: 60px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    width: 247px;
    height: 66px;
    width: 288px;
    height: 66px;
  }
  .games-gallery .games-gallery__catalog .catalog-item .catalog-item__btn:hover {
    background-color: #fff;
    color: #202027;
  }
  .games-gallery .games-gallery__catalog .catalog-img {
    grid-row: span 1;
    height: 284px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
  }
  .games-gallery .games-gallery__catalog .catalog-item {
    order: 2;
  }
  .games-gallery .games-gallery__catalog:last-child {
    padding-bottom: 24px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
  color: #202027;
}
body .center {
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
}/*# sourceMappingURL=styles.css.map */